.dao-steps-box {
  min-height: calc(100vh - 69.69px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dao-steps-wrap {
  align-items: flex-start;

  @apply mb-6;

  .title-wrap {
    @apply flex justify-between items-center;
  }

  .current-step-number {
    @apply font-medium text-[14px] leading-[22px] text-Neutral-Disable-Text;
  }

  .current-step-desc {
    @apply flex flex-col gap-[8px];
  }

  .step-progress.TMRWDAO-progress-line {
    @apply my-[16px];
  }

  .title {
    @apply font-medium text-[16px] leading-[24px] text-colorPrimary;
  }

  .step-title {
    @apply font-medium text-[24px] leading-[32px] text-neutralTitle;
  }

  .step-subtitle {
    @apply font-medium text-[16px] leading-[24px] text-neutralPrimaryText;
  }

  .step-subtext {
    @apply text-[16px] leading-[24px] text-Neutral-Disable-Text;
  }

  .current-text {
    @apply text-colorPrimary;
  }
}


.form-item-label {
  @apply font-medium leading-[24px] flex items-center;

  .label-icon {
    @apply text-[#B8B8B8] ml-[8px];
  }
}
.dao-create-first-header {
  span {
    font-family: Montserrat;
    font-weight: 400;
  }
}

.dao-create-first-screen {
  .dao-create-first-screen-title {
    font-family: Unbounded;
    @apply font-medium lg:text-[24px] lg:leading-[32px] text-white text-[20px] leading-[28px];
  }
  .login-btn {
    border:  1.5px solid #fff;
    border-radius: 42px;
    margin-left: auto;
   
    @apply text-white flex items-center gap-[10px] text-[15px] bg-[transparent]  px-[20px] py-[11px];
    span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .icon {
    @apply w-[64px] h-[64px];
  }

  .icon-wrap {
    @apply  flex items-center justify-center py-0 md:py-[50px] lg:py-[50px] rounded-md;
  }

  .dao-create-preview {
    @apply flex justify-between gap-[18px];
  }


  .dao-create-preview-item {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #171717;
    @apply flex-1 p-[15px] rounded-xl;
    
    p {
      font-family: Montserrat;
      @apply font-medium text-[14px] leading-[22px] text-lightGrey mt-[10px] mb-[8px];
    }

    h3 {
      font-family: Montserrat;
      @apply font-medium text-[15px] leading-[24px] text-white;
    }
  }
}