.dao-steps-box {
  /* min-height: calc(100vh - 69.69px); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.dao-steps-wrap {
  box-sizing: border-box;
  align-items: flex-start;
  @media screen and (max-width: 1120px) {
    min-height: calc(100vh - 69.69px - 169.06px - 67px - 24px);
  }
  @media screen and (min-width: 1121px) {
    min-height: calc(100vh - 82.09px - 169.06px - 67px - 24px);
  }

  @apply mb-6 xl:w-[930px] lg:w-[750px] m-auto;

  .title-wrap {
    @apply flex justify-between items-center;
  }

  .current-step-number {
    @apply font-medium text-[14px] leading-[22px] text-Neutral-Disable-Text;
  }

  .current-step-desc {
    @apply flex flex-col gap-[8px];
  }

  .step-progress.TMRWDAO-progress-line {
    @apply my-[16px];
  }

  .title {
    @apply font-medium text-[16px] leading-[24px] text-mainColor;
  }

  .step-title {
    @apply font-medium text-[24px] leading-[32px] text-neutralTitle;
  }

  .step-subtitle {
    @apply font-medium text-[16px] leading-[24px] text-neutralPrimaryText;
  }

  .step-subtext {
    @apply text-[16px] leading-[24px] text-Neutral-Disable-Text;
  }

  .current-text {
    @apply text-mainColor;
  }
}


.form-item-label {
  @apply font-medium leading-[24px] flex items-center;

  .label-icon {
    @apply text-[#B8B8B8] ml-[8px];
  }
}
.dao-create-first-header {
  span {
    font-family: Montserrat;
    font-weight: 400;
  }
}

.dao-create-first-screen {
  .dao-create-first-screen-title {
    font-family: Unbounded;
    @apply font-[300] lg:text-[22px] lg:leading-[32px] md:text-[20px] md:leading-[28px] text-white text-[20px] leading-[28px];
  }
  .login-btn {
    border:  1.5px solid #fff;
    border-radius: 42px;
    margin-left: auto;
   
    @apply text-white flex items-center gap-[10px] text-[12px] md:text-[12px] lg:text-[15px] bg-[transparent] px-[14px] py-[8px] lg:px-[20px] lg:py-[11px] md:px-[14px] md:py-[8px];
    span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &:hover {
      color: #5D49F6;
      border: 1px solid #5D49F6
    }
  }

  .icon {
    @apply w-[64px] h-[64px];
  }

  .icon-wrap {
    @apply flex items-center justify-center py-0 xl:py-[12.5px] rounded-md;
    
  }

  .dao-create-preview {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
    gap: 18px;
    @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 lg:w-full xl:w-full md:w-[366px] md:m-auto;
  }


  .dao-create-preview-item {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: #171717;
    display: flex;
    flex-direction: column;
    @apply flex-1 lg:py-[15px] xl:py-[15px] md:py-[15px] rounded-xl lg:w-auto sm:w-full md:w-[174px] sm:pb-[15px];
    .step {
      font-family: Montserrat;
      @apply font-medium text-[14px] leading-[22px] text-lightGrey md:mt-[3px] lg:mt-[3px] xl:mt-[18px] mb-[8px] px-[15px] sm:mt-0;
    }

    .basic {
      font-family: Montserrat;
      @apply font-medium lg:text-[15px] md:text-[14px] text-[14px] leading-[24px] text-white px-[15px];
    }
   
  }
}