@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #fafafa;
  margin: 0;
  font-size: 16px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
/* * {
  font-family: Roboto, sans-serif;
} */

@font-face {
  font-family: 'Roboto';
  src: url('/font/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/font/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/font/Roboto-Bold.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

/* Upload */
.TMRWDAO-upload {
  .TMRWDAO-upload-button {
    &:active {
      @apply border border-dashed;
    }
  }
}

.TMRWDAO-table-container .TMRWDAO-select-single {
  @apply h-[32px];
}

.TMRWDAO-select-item-option-disabled {
  @apply !text-Neutral-Disable-Text;
}

.hash-link-color > span {
  @apply !text-inherit;
}

.TMRWDAO-message .TMRWDAO-message-notice-wrapper .TMRWDAO-message-custom-content > .anticon {
  vertical-align: -0.125em;
}

.TMRWDAO-table-wrapper .TMRWDAO-table,
.TMRWDAO-table-wrapper .TMRWDAO-table-tbody>tr.TMRWDAO-table-placeholder {
  @apply !bg-transparent;

  & > td {
    @apply !border-0;
  }
}

.TMRWDAO-table-wrapper .TMRWDAO-table-thead th.TMRWDAO-table-column-sort {
  @apply !bg-darkBg;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-thead > tr > th {
  @apply !bg-darkBg;
  &:before {
    @apply !hidden;
  }
}

.TMRWDAO-table-column-sorter-up,
.TMRWDAO-table-column-sorter-down {
  @apply !text-lightGrey;
}

.TMRWDAO-table-column-sorter-up.active,
.TMRWDAO-table-column-sorter-down.active {
  @apply !text-white;
}

.TMRWDAO-table-wrapper td.TMRWDAO-table-column-sort {
  @apply !bg-transparent;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-column-sorters {
  @apply justify-start;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-column-title {
  @apply flex-grow-0;
}

.dao-tx-hash {
  & > span {
    @apply truncate max-w-[120px];
  }
}

.TMRWDAO-pagination-container .TMRWDAO-select-selector {
  @apply !border-Neutral-Disable-Text;
}

.antExplorer-tabs-nav,
.TMRWDAO-tabs-nav {
  overflow: hidden !important;
}

.TMRWDAO-members-hash-address {
  @apply flex justify-between w-full;

  .TMRWDAO-icon {
    @apply text-[20px];
  }
}

.TMRWDAO-table-container {
  .TMRWDAO-table-thead > tr > th {
    @apply text-Neutral-Secondary-Text;
  }

  tbody {
    @apply text-neutralPrimaryText;
  }
}

.TMRWDAO-typography {
  font-family: Roboto, sans-serif !important;
}

.table-padding-large {
  .TMRWDAO-table-thead > tr > th {
    @apply pl-[24px];
  }

  .TMRWDAO-table-tbody > tr > td {
    @apply pl-[24px];
  }
}

.clear-table-padding {
  .TMRWDAO-table-thead > tr > th {
    @apply pr-0;
  }

  .TMRWDAO-table-tbody > tr > td {
    @apply pr-0;
  }
}

.normal-table {
  .TMRWDAO-table-thead > tr > th {
    @apply text-[14px] leading-[20px] font-medium text-Neutral-Secondary-Text py-[14px];
  }

  .TMRWDAO-table-tbody > tr > td,
  .TMRWDAO-hash-address > span {
    @apply text-[12px] leading-[20px] font-normal;
  }
}

.TMRWDAO-hash-address {
  @apply pl-0;
  > span {
    @apply text-[14px] leading-[20px] font-normal;
  }
}

.table-header-normal {
  .TMRWDAO-table-thead > tr > th {
    @apply text-[14px] leading-[20px] font-medium text-Neutral-Secondary-Text py-[14px];
  }

  .TMRWDAO-table-column-sorter {
    @apply h-[20px];
  }
}

.table-td-sm {
  .TMRWDAO-table-tbody > tr > td,
  .TMRWDAO-hash-address > span {
    @apply text-[14px] leading-[22px] font-normal;
  }
}

.full-table {
  .TMRWDAO-table-thead > tr > th:first-child {
    @apply lg:pl-[32px] pl-[16px];
  }

  .TMRWDAO-table-thead > tr > th:last-child {
    @apply lg:pr-[32px] pr-[16px];
  }

  .TMRWDAO-table-tbody > tr > td:first-child {
    @apply lg:pl-[32px] pl-[16px];
  }

  .TMRWDAO-table-tbody > tr > td:last-child {
    @apply lg:pr-[32px] pr-[16px];
  }
}

.full-table-wrap {
  .TMRWDAO-pagination-container {
    @apply lg:px-8 px-4;
  }
}

.TMRWDAO-form-item .TMRWDAO-form-item-explain-error {
  @apply mt-[8px] font-Montserrat text-[12px];
}

.TMRWDAO-table-container .TMRWDAO-table-thead > tr > th {
  @apply !text-descM12 font-Montserrat !text-lightGrey whitespace-nowrap;
}

.TMRWDAO-table-container tbody {
  @apply !text-white text-descM11 font-Montserrat;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-tbody > tr:hover > td {
  @apply !bg-fillBg8;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-thead > tr > th,
.TMRWDAO-table-wrapper .TMRWDAO-table-tbody > tr > td {
  @apply border-0 !border-b-[1px] !border-solid !border-b-fillBg8;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-tbody > tr.TMRWDAO-table-measure-row > td {
  @apply !border-0;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-container table > thead > tr:first-child > *:first-child {
  @apply !rounded-none !pl-0 !bg-darkBg;
}
.TMRWDAO-table-wrapper .TMRWDAO-table-container table > thead > tr:first-child > *:last-child {
  @apply !rounded-none !pr-0;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-container table > tbody > tr > *:first-child {
  @apply !pl-0 !bg-darkBg;
}
.TMRWDAO-table-wrapper .TMRWDAO-table-container table > tbody > tr > *:last-child {
  @apply !pr-0;
}

.TMRWDAO-table-wrapper .TMRWDAO-table-expanded-row-fixed {
  @apply !py-0;
}

/* .TMRWDAO-form-item-margin-offset {
  @apply !mb-0;
}
.TMRWDAO-form-item {

  .TMRWDAO-form-item-control {
    .TMRWDAO-form-item-explain {
      @apply text-[16px] leading-[24px] h-[24px] mt-[8px];
      .TMRWDAO-form-item-explain-error {
        @apply text-[#F53F3F];
      }
    }
  }
} */
