:root {
    --brand-base: #1b76e2;
    --base-bg: #000000;
    --base-text: #ffffff;
    --base-border: #333333;
    --fill-bg: rgb(255 255 255 / 1%);
    --fill-bg-8: rgb(255 255 255 / 8%);
    --fill-bg-40: rgb(255 255 255 / 40%);
    --fill-black-15: rgb(0 0 0 / 15%);
    --main-color: #5D49F6;
    --dark-gray: #222126;
    --light-gray: #989DA0;
    --dark-bg: #171717;
    --danger: #FF374D;
}

.dark-theme {
    --brand-base: #136dd7;
}