.transaction-details {
  @apply min-h-[calc(100vh-200px)];
  .table-layer .antExplorer-table-content {
    .antExplorer-table-thead tr th{
    @apply border-0 !border-solid !border-fillBg8;
    } 
    .antExplorer-table-tbody tr {
    @apply hover:!bg-fillBg8 bg-darkBg;
      td {
        @apply border-0 !border-solid !border-b !border-fillBg8 !bg-transparent;
      }
    }
  } 
}
.transaction-details .transaction-details-head {
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-indent: 30px;
    background: #43056b;
}

.transaction-details .antExplorer-table table {
    word-break: break-all;
    word-wrap: break-word;
   
}
.antExplorer-spin-nested-loading .antExplorer-spin-container::after {
    background-color: transparent;
}