/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-16 19:11:55
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 19:17:52
 * @Description: file content
 */
.candidate-apply-team-info-key-in-container {
  padding: 0 10px 50px;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-no-auth {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 18px;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-title {
  margin: 20px;
  padding: 20px 0;
  font-size: 18px;
  color: #266cd3;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form {
  width: 50%;
  margin: 0 auto;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form label {
  @apply w-[160px] text-white text-[16px] text-right font-Montserrat font-medium mt-[10px];
}

.candidate-apply-team-info-key-in-container .TMRWDAO-form-item-label {
  @apply mr-[20px] inline-block;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form label::before {
  @apply !text-white;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form .TMRWDAO-input {
  @apply h-[43px] text-lightGrey bg-darkBg border border-solid border-borderColor;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form .TMRWDAO-input:hover {
  @apply text-lightGrey bg-darkBg border border-solid border-borderColor shadow-none;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form .TMRWDAO-input:focus {
  @apply text-lightGrey bg-darkBg border border-solid border-borderColor shadow-none;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form .TMRWDAO-input::placeholder {
  @apply text-lightGrey;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form .TMRWDAO-input-group-addon {
  @apply bg-darkBg text-lightGrey border-borderColor;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form .TMRWDAO-form-item-explain-error {
  @apply text-mainColor;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-footer {
  margin-top: 32px;
  text-align: right;
}

.candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-footer .antExplorer-btn+.antExplorer-btn {
  margin-left: 100px;
}

.candidate-apply-team-info-key-in-container .antExplorer-input,
.candidate-apply-team-info-key-in-container .antExplorer-select-selection,
.candidate-apply-team-info-key-in-container .antExplorer-btn {
  border-radius: 16px;
}

.candidate-apply-team-info-key-in-container .antExplorer-input-group-addon:first-child {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.loading-container .antExplorer-spin {
  display: block;
  padding: 60px;
  margin: 0 56px 30px;
}

@media (max-width: 768px) {
  .candidate-apply-team-info-key-in-container .candidate-apply-team-info-key-in-form {
    width: 80%;
  }
}