.active-start-time-date-picker {
  .TMRWDAO-picker {
    @apply w-full;
  }
}
.fake-input-start-time-select {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 48px;
  padding: 12px;
  border-radius: 16px;
  border: 1px solid var(--Black-BG-Light-D, #3A3A3A);
}