.treasury-wrap {
  .token img {
    @apply pr-[4px];
  }

  .small-button {
    @apply !h-[30px] w-[104px];
  }
  .token-list-table {
    margin-bottom: 24px;
    .TMRWDAO-table-content {
      @apply bg-darkBg font-Montserrat border border-solid border-fillBg8 rounded-[6px];
      .TMRWDAO-table-thead {
        .TMRWDAO-table-cell {
          @apply bg-darkBg !text-white font-medium text-[13px];
        }
        > tr > th {
          border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        }
        > tr:first-child > *:first-child {
          @apply !pl-[20px];
        }
      }
      .TMRWDAO-table-tbody {
        .TMRWDAO-table-cell {
          @apply bg-darkBg text-lightGrey text-[12px];
        }
        > tr > td {
          border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        }
        > tr > td *:first-child {
          @apply !ml-[10px];
        }
      }
      .TMRWDAO-hash-address > span {
        @apply text-white !text-[12px];
      }
      .TMRWDAO-table-thead
        > tr
        > th:not(:last-child):not(.TMRWDAO-table-selection-column):not(
          .TMRWDAO-table-row-expand-icon-cell
        ):not([colspan])::before {
        background-color: transparent;
      }
    }
    .TMRWDAO-table {
      background-color: transparent;
    }
  }

  .treasury-info-item + .treasury-info-item {
    @apply mt-6;
  }

  .treasury-info-item {
    .TMRWDAO-hash-address > span {
      @apply text-white !text-[12px];
    }
  }

  .treasury-icon {
    @apply mt-0;
  }

  .assets-title {
    @apply font-medium text-[18px] leading-[28px] mt-6 font-Montserrat text-white;
  }

  .text-14-22-500 {
    @apply text-[14px] leading-[22px] font-medium;
  }

  .assets-help-message {
    @apply font-normal text-[12px] mt-[8px] text-lightGrey text-center font-Montserrat leading-[16px];
  }

  .assets-help-message-text-wrap {
    @apply w-[230px];
  }

  .card-title {
    @apply font-medium text-[18px] leading-[28px] font-Montserrat;
  }

  .usd-value {
    @apply font-medium text-[18px] leading-[32px] flex-1 text-white font-Montserrat;
  }

  .treasury-info-item-line-1 {
    @apply text-lightGrey text-[12px] leading-[20px] mb-1;
  }

  .treasury-info-item-line-2 {
    @apply text-lightGrey mb-1 flex justify-between;
  }

  .treasury-info-item-line-3 {
    @apply text-lightGrey flex justify-between;
  }
}

.treasury-choice-modal {
  @apply xl:!w-[465px] lg:!w-[465px] md:!w-[465px];
  .choice-item {
    @apply flex-1 flex items-center justify-between;
  }

  .choice-item-text-subtitle {
    @apply text-Primary-Text text-[14px] leading-[22px];
  }
}

.choice-items {
  @apply flex justify-between gap-[16px] flex-col;
}

.choice-modal-wrap {
  .TMRWDAO-modal-content {
    @apply bg-darkBg xl:!px-[38px] xl:!py-[30px] lg:!px-[38px] lg:!py-[30px] md:!px-[38px] md:!py-[30px] !p-[22px] border border-solid border-fillBg8;
  }
  .TMRWDAO-modal-header {
    @apply bg-darkBg text-white !p-0;
    .common-header {
      @apply border-0 border-b border-solid border-fillBg8 !h-auto xl:pb-[30px] lg:pb-[30px] md:pb-[30px] pb-[22px];
    }
  }
  .TMRWDAO-modal-body {
    @apply !p-0;
  }
}
