.foot-tabbar {
  z-index: 1001;
  @apply fixed bottom-0 gap-3 flex w-full p-2 pb-4 flex-row bg-[#292929] justify-around;
  .foot-tabbar-item {
    @apply flex flex-col justify-center items-center text-[#9A9A9A] text-center text-[0.875rem] leading-[1.125rem] w-[60px] h-[60px] rounded-full;
    .TMRWDAO-icon {
      @apply text-[24px];
    }
    &.active {
      @apply text-[#5222D8];
    }
  }
}

.floating-menu-container {
  display: flex;
  position: fixed;
  z-index: 999;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.wallet-entry-button {
  position: fixed;
  right: -27px;
  bottom: -18px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--Solid-1, #5222d8);
  box-shadow: 0px 4px 8px 0px rgba(34, 14, 91, 0.4);
  z-index: 1001;
  color: white;
  cursor: pointer;
}

.refresh-button {
  position: fixed;
  right: -27px;
  bottom: 42px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--Solid-1, #5222d8);
  box-shadow: 0px 4px 8px 0px rgba(34, 14, 91, 0.4);
  z-index: 1001;
  color: white;
  cursor: pointer;
}
