.organization-list-item .antExplorer-divider-horizontal {
  margin: 12px 0;
}

.organization-list-item {
  border-radius: 16px 16px 0 0;
}

.organization-list-item .antExplorer-card-head {
  border-radius: 6px 6px 0 0;
  @apply !h-[48px] bg-borderColor border-b border-solid border-borderColor;
}

.organization-list-item .antExplorer-card-bordered {
  border: none;
}

.organization-list-item .antExplorer-card .antExplorer-card-body {
  border-radius: 0 0 6px 6px;
  @apply bg-darkGray;
}

.organization-list-item-info-item .sub-title {
  font-size: 10px;
  @apply text-white font-Montserrat;
}

.card-list-desc-item .antExplorer-select-selector {
  border: none !important;
  @apply h-[36px] leading-[40px] text-lightGrey bg-darkBg font-Montserrat text-[10px] rounded-lg !important;
}

.card-list-desc-item-label {
  @apply text-white text-[11px] font-Montserrat font-medium;
}

.card-list-desc-item-desc {
  @apply text-lightGrey text-[10px] font-Montserrat font-medium;
}

.card-list-desc-item .select .antExplorer-select-arrow {
  @apply text-white;
}

.organization-list-item-title-countdown {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #d34a64;
}

.organization-list-item-id {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.organization-list-item-id>i {
  color: #266cd3;
}

.organization-list-item-id>div {
  max-width: 80%;
}

.organization-list-item-id-status {
  text-align: right;
}

.organization-list-item-info-item {
  display: flex;
  flex-flow: row nowrap;
}

.organization-list-item-info-item .sub-title {
  display: flex;
  white-space: nowrap;
}

.organization-list-item-votes p {
  margin-bottom: 1em;
}

.organization-list-item-vote-chart .antExplorer-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.organization-list-item-vote-chart .CircularProgressbar-text {
  font-size: 13px;
}

@media screen and (max-width: 576px) {
  .organization-list-item .antExplorer-divider-horizontal {
    margin: 12px 0;
  }

  .organization-list-item .antExplorer-card-head {
    border-radius: 6px 6px 0 0;
    @apply bg-borderColor;
    @apply border-b border-solid border-borderColor;
  }

  .organization-list-item-title-countdown {
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #d34a64;
  }

  .organization-list-item-id {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .organization-list-item-id>i {
    color: #266cd3;
  }

  .organization-list-item-id>div {
    max-width: 80%;
  }

  .organization-list-item-id-status {
    text-align: right;
  }

  .organization-list-item-info-item {
    display: block;
    flex-flow: row nowrap;
  }

  .organization-list-item-info-item span {
    display: block;
  }

  .organization-list-item-vote-chart .antExplorer-col {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}